SignUpProject/src/main/resources/wsdl/InterfaceSQL.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.6 git-revision#d201abe. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.6 git-revision#d201abe. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.insa.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.insa.fr/" name="InterfaceSQL">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.insa.fr/" schemaLocation="http://localhost:8809/?xsd=1"/>
</xsd:schema>
</types>
<message name="ExecuteQuery">
<part name="parameters" element="tns:ExecuteQuery"/>
</message>
<message name="ExecuteQueryResponse">
<part name="parameters" element="tns:ExecuteQueryResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="ExecuteUpdate">
<part name="parameters" element="tns:ExecuteUpdate"/>
</message>
<message name="ExecuteUpdateResponse">
<part name="parameters" element="tns:ExecuteUpdateResponse"/>
</message>
<portType name="InterfaceSQL">
<operation name="ExecuteQuery">
<input wsam:Action="http://soap.insa.fr/InterfaceSQL/ExecuteQueryRequest" message="tns:ExecuteQuery"/>
<output wsam:Action="http://soap.insa.fr/InterfaceSQL/ExecuteQueryResponse" message="tns:ExecuteQueryResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://soap.insa.fr/InterfaceSQL/ExecuteQuery/Fault/SQLException"/>
</operation>
<operation name="ExecuteUpdate">
<input wsam:Action="http://soap.insa.fr/InterfaceSQL/ExecuteUpdateRequest" message="tns:ExecuteUpdate"/>
<output wsam:Action="http://soap.insa.fr/InterfaceSQL/ExecuteUpdateResponse" message="tns:ExecuteUpdateResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://soap.insa.fr/InterfaceSQL/ExecuteUpdate/Fault/SQLException"/>
</operation>
</portType>
<binding name="InterfaceSQLPortBinding" type="tns:InterfaceSQL">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ExecuteQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="ExecuteUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
</binding>
<service name="InterfaceSQL">
<port name="InterfaceSQLPort" binding="tns:InterfaceSQLPortBinding">
<soap:address location="http://localhost:8809/"/>
</port>
</service>
</definitions>